KOVAN_PROVIDER_API_KEY=
MAINNET_PROVIDER_API_KEY=
SUBGRAPH_ENDPOINT_MAINNET=https://api.thegraph.com/subgraphs/name/enzymefinance/enzyme
SUBGRAPH_ENDPOINT_KOVAN=https://api.thegraph.com/subgraphs/name/enzymefinance/enzyme-kovan
MAINNET_PRIVATE_KEY=
KOVAN_PRIVATE_KEY=
ENZYME_VAULT_ADDRESS=0x...
